# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask stuff:
instance/
.webassets-cache

# Virtual Environment
.venv/
venv/
ENV/
env/
active_env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System files
Thumbs.db
db.webinterface
Desktop.ini
.DS_Store
